{
	"printWidth": 140,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"^(assert|async_hooks|buffer|child_process|cluster|console|constants|crypto|dgram|diagnostics_channel|dns|domain|events|fs|http|http2|https|inspector|module|net|os|path|perf_hooks|process|punycode|querystring|readline|repl|stream|string_decoder|timers|tls|trace_events|tty|url|util|v8|vm|worker_threads|zlib)$",
		"^(@solid.*|solid-js)",
		"<THIRD_PARTY_MODULES>"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
